// Place all the styles related to the Promotionals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recipient_list {
  padding:10px 10px 10px 10px;
  background: #444444;
  color:#ffffff;
  font-size:26px;
  text-decoration: none;
  border: 1px #333333 solid;

  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;

  option {
    margin:10px;
  }
  // option{background-color: green;}
}
