<h1>Editing recipient_list</h1>

<%= render 'form' %>

<%= link_to 'Show', @recipient_list %> |
<%= link_to 'Back', recipient_lists_path %> |
<%= link_to 'Destroy', @recipient_list, method: :delete, data: { confirm: 'Are you sure?' } %>  